@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-1"></div>
<div class="col-md-10 main-content">
    <div class="row">
        <div class="col-md-6">
            <h1 style="align-self: center" class="title">Hello there!</h1>
            <h3 class="title">Discover the world of games with GameBreak. Available in two locations in Rzeszów!</h3>
            <h5 class="title">Renting games for up to two weeks!</h5>
        </div>
        <div class="col-md-6 home-pic">
        </div>
    </div>
</div>

<div class="col-md-1"></div>